<template>
  <div class="experience w-screen">
    <h1 class="title">Experience Transformation</h1>
    <h2 class="pagenumber">0003</h2>
    <div class="smallscreen">
      <project-card
        slug="/nge"
        company="Disney's Next Generation Experience"
        project="A network of digital devices and software that combine storytelling
          and technology to provide the ultimate seamless theme park experience.
          Includes the MyDisneyExpereince smartphone App, FastPass+, MagicBand,
          in park touchpoints and touchless long range readers to provide
          previously impossible experiences"
        class="magicband card"
      />
      <project-card
        slug="/beourguest"
        company="Be Our Guest Resturant"
        project="An award winning project and a world first to utilize Location intelligence, 
        Be Our Guest is a revolutionary concept that combines the story telling of Disney with 
        ground breaking technology.  By keying in on invisible technology, the customer experience 
        is completely seamless between stages"
        class="beourguest card"
      />
      <project-card
        slug="/disneymagic"
        company="Disney Magic Reimagining"
        project="A complete rebuilding of the award winning Disney Cruise ship The Disney Magic, our
        focus was on the childrens activites space, a key differentiator for Disney Cruise Line.  By 
        leaning on Disney IP such as Marvel, Mickey Mouse and Disney Princess's, we were able to combine
        creative storytelling elements to transport the children into their favorite worlds"
        class="disneymagic card"
      />
      <project-card
        slug="/oceannow"
        company="OceanNow"
        project="A hyper-personalized e-commerce solution like none other, OceanNow promises to deliver real time
        personalized experience invitations from merchendise, food and beverage, and even event based on multiple inputs, 
        including location, time, previous order and proximity to others.  The order is then delivered directly to the individual."
        class="oceannow card"
      />
      <project-card
        slug="/medallionclass"
        company="Princess's Medallion Class"
        project="A Princess MedallionClass™ vacation offers the ultimate in effortless, personalized cruising, 
        from everything from touch-free boarding to locating your loved ones anywhere on the ship, as well as enhanced service like having 
        whatever you need, delivered."
        class="medallionclass card"
      />
      <project-card
        slug="/adventhealth"
        company="AdventHealth Anywhere"
        project="Through a revolutionary new healthcare experience centering on the
          patient instead of the provider, Patients of AdventHealth are assigned
          a healthcare conceige or a “Care Advocate” who guides patients through
          a historically painful experience"
        class="adventhealth card"
      />
    </div>
    <div class="largescreen grid grid-cols-3 gap-4 px-32 pb-16 pt-16">
      <project-card
        slug="/nge"
        company="Disney's Next Generation Experience"
        project="A network of digital devices and software that combine storytelling
          and technology to provide the ultimate seamless theme park experience.
          Includes the MyDisneyExperience smartphone App, FastPass+, MagicBand,
          in park touchpoints and touchless long range readers to provide
          previously impossible experiences"
        class="magicband card"
      />
      <project-card
        slug="/beourguest"
        company="Be Our Guest Resturant"
        project="An award winning project and a world first to utilize Location intelligence, 
        Be Our Guest is a revolutionary concept that combines the story telling of Disney with 
        ground breaking technology.  By keying in on invisible technology, the customer experience 
        is completely seamless between stages"
        class="beourguest card"
      />
      <project-card
        slug="/disneymagic"
        company="Disney Magic Reimagining"
        project="A complete rebuilding of the award winning Disney Cruise ship The Disney Magic, our
        focus was on the childrens activites space, a key differentiator for Disney Cruise Line.  By 
        leaning on Disney IP such as Marvel, Mickey Mouse and Disney Princess's, we were able to combine
        creative storytelling elements to transport the children into their favorite worlds"
        class="disneymagic card"
      />
      <project-card
        slug="/oceannow"
        company="OceanNow"
        project="A hyper-personalized e-commerce solution like none other, OceanNow promises to deliver real time
        personalized experience invitations from merchendise, food and beverage, and even event based on multiple inputs, 
        including location, time, previous order and proximity to others.  The order is then delivered directly to the individual."
        class="oceannow card"
      />
      <project-card
        slug="/medallionclass"
        company="Princess's Medallion Class"
        project="A Princess MedallionClass™ vacation offers the ultimate in effortless, personalized cruising, 
        from everything from touch-free boarding to locating your loved ones anywhere on the ship, as well as enhanced service like having 
        whatever you need, delivered."
        class="medallionclass card"
      />
      <project-card
        slug="/adventhealth"
        company="AdventHealth Anywhere"
        project="Through a revolutionary new healthcare experience centering on the
          patient instead of the provider, Patients of AdventHealth are assigned
          a healthcare conceige or a “Care Advocate” who guides patients through
          a historically painful experience"
        class="adventhealth card"
      />
    </div>
    <div class="blurb">
      <h1 class="innovation">Leading Large Scale Innovation</h1>
      <h1 class="innovation-body">
        Enterprise level leadership success marked by building Innovative
        products across industries, while simplifying dysfunctional teams and
        processes through digital transformation.
      </h1>
    </div>
  </div>
</template>

<script>
import ProjectCard from '@/components/ProjectCard'
export default {
  components: {
    ProjectCard,
  },
}
</script>

<style scoped>
.experience {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('~@/assets/images/experience.jpg');
  height: 1350px;
  background-position: center;
  background-size: cover;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
}

.pagenumber {
  position: absolute;
  right: 0px;
  transform: rotate(90deg);
  top: 1080px;
}

.magicband {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('~@/assets/images/magicband.jpg');
  background-position: center;
  background-size: cover;
  height: 150px;
}

.beourguest {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('~@/assets/images/beourguest.jpg');
  background-position: center;
  background-size: cover;
  height: 150px;
}

.disneymagic {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('~@/assets/images/disneymagic.jpg');
  background-position: center;
  background-size: cover;
  height: 150px;
}

.oceannow {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('~@/assets/images/oceannow.jpg');
  background-position: center;
  background-size: cover;
  height: 150px;
}

.medallionclass {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('~@/assets/images/medallionclass.jpg');
  background-position: center;
  background-size: cover;
  height: 150px;
}

.adventhealth {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('~@/assets/images/adventhealth.jpeg');
  background-position: center;
  background-size: cover;
  height: 150px;
}

.title {
  font-size: 48px;
  font-weight: 100;
  color: #fff;
  padding-left: 50px;
  line-height: 1;
  padding-top: 10px;
}
.innovation {
  font-size: 18px;
  font-weight: 200;
  color: white;
  padding-left: 50px;
}
.innovation-body {
  font-size: 12px;
  font-weight: 200;
  color: white;
  padding-left: 60px;
  padding-right: 10px;
}

.smallscreen {
  padding: 20px;
}

.smallscreen .card {
  margin: 20px;
}

@media only screen and (max-width: 576px) {
  .largescreen {
    display: none;
  }
}

@media (min-width: 576px) {
  .smallscreen {
    display: none;
  }

  .experience {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('~@/assets/images/experience.jpg');
    height: 800px;
    background-position: center;
    background-size: cover;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
  }

  .pagenumber {
    top: 1680px;
  }

  .magicband {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('~@/assets/images/magicband.jpg');
    background-position: center;
    background-size: cover;
    height: 150px;
  }

  .beourguest {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('~@/assets/images/beourguest.jpg');
    background-position: center;
    background-size: cover;
    height: 150px;
  }

  .disneymagic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('~@/assets/images/disneymagic.jpg');
    background-position: center;
    background-size: cover;
    height: 150px;
  }

  .oceannow {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('~@/assets/images/oceannow.jpg');
    background-position: center;
    background-size: cover;
    height: 150px;
  }

  .medallionclass {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('~@/assets/images/medallionclass.jpg');
    background-position: center;
    background-size: cover;
    height: 150px;
  }

  .adventhealth {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url('~@/assets/images/adventhealth.jpeg');
    background-position: center;
    background-size: cover;
    height: 150px;
  }

  .title {
    font-size: 80px;
    font-weight: 200;
    padding-left: 100px;
    padding-top: 35px;
  }
  .innovation {
    font-size: 32px;
    padding-left: 100px;
  }

  .innovation-body {
    font-size: 16px;
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
</style>
