<template>
  <div class="hello w-screen">
    <h1 class="jonathan">Jonathan</h1>
    <h1 class="zegers">Zegers</h1>
    <h3 class="heading">Experience. Design. Development.</h3>
    <h2 class="pagenumber">0001</h2>
    <div class="line"></div>
  </div>
</template>

<style scoped>
.hello {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('~@/assets/images/hello.jpg');
  height: 500px;
  background-position: center;
  background-size: cover;
  color: #fff;
}
.pagenumber {
  position: absolute;
  right: 0px;
  top: 300px;
  transform: rotate(90deg);
}

.line {
  width: 230px;
  border-bottom: 1px solid white;
  position: absolute;
  right: -96px;
  top: 450px;
  transform: rotate(90deg);
}

.jonathan {
  position: absolute;
  left: 100px;
  top: 140px;
  font-size: 60px;
  font-weight: 200;
  color: white;
}

.zegers {
  position: absolute;
  left: 100px;
  top: 200px;
  font-size: 60px;
  font-weight: 200;
  color: #fff;
}

.heading {
  position: absolute;
  left: 100px;
  top: 290px;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
}

@media (min-width: 576px) {
  .jonathan {
    position: absolute;
    left: 100px;
    top: 160px;
    font-size: 100px;
    font-weight: 200;
    color: white;
  }

  .zegers {
    position: absolute;
    left: 100px;
    top: 270px;
    font-size: 100px;
    font-weight: 200;
    color: #fff;
  }

  .heading {
    position: absolute;
    left: 100px;
    top: 430px;
    font-size: 28px;
    font-weight: 100;
    color: #fff;
  }
  .hello {
    height: 700px;
  }
  .line {
    width: 450px;
    height: -10px;
    border-bottom: 1px solid white;
    position: absolute;
    right: -205px;
    top: 570px;
    transform: rotate(90deg);
  }
}

@media (min-width: 768px) {
  .jonathan {
    position: absolute;
    left: 150px;
    top: 160px;
    font-size: 100px;
    font-weight: 200;
    color: white;
  }

  .zegers {
    position: absolute;
    left: 150px;
    top: 270px;
    font-size: 100px;
    font-weight: 200;
    color: #fff;
  }

  .heading {
    position: absolute;
    left: 160px;
    top: 430px;
    font-size: 32px;
    font-weight: 100;
    color: #fff;
  }
}

@media (min-width: 992px) {
  .jonathan {
    position: absolute;
    left: 200px;
    top: 160px;
    font-size: 120px;
    font-weight: 200;
    color: #fff;
  }

  .zegers {
    position: absolute;
    left: 200px;
    top: 270px;
    font-size: 120px;
    font-weight: 200;
    color: #fff;
  }

  .heading {
    position: absolute;
    left: 210px;
    top: 500px;
    font-size: 40px;
    font-weight: 100;
    color: #fff;
  }
}
</style>
