<template>
  <div class="journey w-screen">
    <h1 class="title">Journey</h1>
    <h2 class="pagenumber">0004</h2>
    <div class="island"></div>
    <div class="journey-text">
      <p>
        Jonathan has focused his professional career on creating unforgettable
        experiences for some of the most well known brands in the world.
      </p>
      <br />
      <p>
        Whether its cruise ships, theme parks, or healthcare, the experience is
        the central component of how customers interact with your product and
        people. From MagicBands to TeleHealth, Jonathan has been there as a
        central decision maker to ensure quick and efficient adoption of Digital
        Transformation and ensure disruption becomes a positive moniker in that
        industry.
      </p>
      <br />
      <p>
        Always looking ahead, his work tends to center around what's coming next
        and how to apply bleeding edge technologies to real world situations,
        pulling them out of novelty, and into commonplace applications.
      </p>
    </div>
    <Contact-Button class="contact" />
  </div>
</template>

<script>
import ContactButton from '@/components/contactButton'
export default {
  components: {
    ContactButton,
  },
}
</script>

<style scoped>
.contact {
  margin-left: 20vw;
  padding-top:20px
}
.journey {
  background-image: url('~@/assets/images/journey.jpg');
  height: 750px;
  background-position: center;
  background-size: cover;
  color: white;
}

.title {
  font-size: 48px;
  font-weight: 100;
  color: #fff;
  padding-left: 50px;
  padding-top: 10px;
}

.pagenumber {
  position: absolute;
  right: 0px;
  transform: rotate(90deg);
}

.journey-text {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  border-radius: 10px;
  font-weight: 200;
  margin-left: 30px;
  margin-right: 30px;
  padding: 10px;
}

@media (min-width: 576px) {
  .contact {
  margin-left: 30vw;
  padding-top:20px
}
  .journey {
    height: 670px;
  }

  .title {
    font-size: 80px;
    font-weight: 200;
    padding-left: 100px;
  }

  .journey-text {
    width: 500px;
    margin-left: 20vw;
    padding: 20px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 992px) {
  .island {
    display: none;
  }
}
@media (min-width: 992px) {
  .journey {
    height: 800px;
  }
  .contact {
  margin-left: 35vw;
  padding-top:20px
}

  .island {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url('~@/assets/images/jonathan-island.jpg');
    height: 450px;
    width: 300px;
    background-position: center;
    background-size: cover;
    filter: grayscale(70%);
    border-radius: 10px;
    margin-left: 150px;
    display: inline-block;
  }

  .journey-text {
    display: inline-block;
    margin-left: 25px;
    vertical-align: 50px;
  }
}
</style>
