<template>
  <div class="fixed">
    <ul>
      <li>
        <a href="https://www.linkedin.com/in/jonathanzegers/" class="linkedin"
          ><font-awesome-icon
            :class="{ 'fa-3x': is3, 'fa-2x': is2 }"
            :icon="['fab', 'linkedin']"
        /></a>
      </li>
      <li>
        <a href="https://gitlab.com/JonathanZegers" class="gitlab"
          ><font-awesome-icon
            :class="{ 'fa-3x': is3, 'fa-2x': is2 }"
            :icon="['fab', 'gitlab']"
        /></a>
      </li>
      <li>
        <a href="https://twitter.com/Zegers37" class="twitter"
          ><font-awesome-icon
            :class="{ 'fa-3x': is3, 'fa-2x': is2 }"
            :icon="['fab', 'twitter']"
        /></a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      is3: true,
      is2: false,
    }
  },
}
</script>

<style scoped>
@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

ul {
  position: relative;
  top: 150px;
}
@media (min-width: 576px) {
  ul {
    position: relative;
    top: 250px;
  }
}

ul li {
  margin: 0 1px;
  padding-left: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}
ul li a {
  color: #ffffff;
  transition: 0.3s;
}

ul li a:hover {
  padding-left: 20px;
}

.linkedin:hover {
  color: #0e76a8;
}

.gitlab:hover {
  color: #fc6d26;
}

.twitter:hover {
  color: #1da1f2;
}
</style>
