<template>
  <div id="sidebar" class="fixed dot dotfill">
    <ul>
      <li class="active"><a id="hellolink" href="#">Hello</a></li>
      <li><a id="quotelink" href="#">Quote</a></li>
      <li><a id="experiencelink" href="#">experience</a></li>
      <li><a id="journeylink" href="#">journey</a></li>
    </ul>
  </div>
</template>

<script>
import $ from "jquery";
export default {
  mounted() {
    // This is a functions that scrolls to #{blah}link
    function goToByScroll(id) {
      // Remove "link" from the ID
      id = id.replace("link", "");
      // Scroll
      $("html,body").animate(
        {
          scrollTop: $("#" + id).offset().top
        },
        "slow"
      );
    }

    $("#sidebar > ul > li > a").click(function(e) {
      // Prevent a page reload when a link is pressed
      e.preventDefault();
      // Call the scroll function
      goToByScroll(this.id);
    });
  }
};
</script>

<style scoped>
.dot ul {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  cursor: default;
}

.dot li {
  position: relative;
  display: block;
  float: left;
  margin: 0 16px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.dot li a {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  border-radius: 50%;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.3);
  text-indent: -999em;
  cursor: pointer; /* make the text accessible to screen readers */
  position: absolute;
}

.dotfill li a {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 1);
  transition: background 0.3s;
}

.dotfill li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 1px #fff;
  transition: height 0.3s;
}

.dotfill li a:hover,
.dotfill li a:focus {
  background-color: white;
}

.dotfill li.current a::after {
  height: 100%;
}
</style>
