<template>
  <div>
    <div class="card">
      <h2>{{ company }}</h2>
      <h3>{{ project }}</h3>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    company: {
      type: String,
      default: ""
    },
    project: {
      type: String,
      default: ""
    },
    backgroundUrl: {
      type: String,
      default: ""
    }
  }
};
</script>

<style scoped>
.card {
  filter: grayscale(100%);
  transition: 0.5s;
  border-radius: 5px;
}

.card:hover {
  filter: grayscale(0%);
  opacity: 1;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  height: 150px;
}

h2 {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  text-align: center;
}

.card:hover h2 {
  opacity: 1;
  transform: translateY(7px);
}

h3 {
  font-size: 10px;
  font-weight: 300;
  color: #fff;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  text-align: center;
  padding: 5px;
}

.card:hover h3 {
  opacity: 1;
  transform: translateY(10px);
}
</style>
