<template>
  <div class="quote w-screen">
    <div class="body">
      <h1>
        “If you want to build a ship, don’t drum up the men to gather wood,
        divide the work and give orders. Instead, teach them to yearn for the
        vast and endless sea.”
      </h1>
      <h1 class="author">- Antoine de Saint—Exupery</h1>
    </div>
    <h2 class="pagenumber">0002</h2>
  </div>
</template>

<style scoped>
.quote {
  background-image: url('~@/assets/images/quote.jpg');
  background-position: center;
  background-size: cover;
  color: white;
}

.pagenumber {
  position: absolute;
  right: 0px;
  transform: rotate(90deg);
  top: 580px;
}

.quote {
  height: 500px;
}

.body {
  font-style: italic;
  position: relative;
  top: 160px;
  padding-left: 50px;
  padding-right: 50px;
}

.author {
  font-style: italic;
  padding-left: 50px;
}

@media (min-width: 576px) {
  .pagenumber {
    top: 810px;
  }
  .quote {
    height: 800px;
  }

  .body {
    top: 400px;
    padding-left: 120px;
    padding-right: 200px;
  }
}

@media (min-width: 768px) {
  .body {
    top: 300px;
    padding-right: 400px;
  }
}

</style>
