<template>
  <div id="wrapper" class="d-flex flex-column">
    <main class="flex-fill position-relative">
      <nuxt />
    </main>
  </div>
</template>

<script>
/*
import AppHeader from '~/components/AppHeader'
export default {
  components: {
    AppHeader,
  },
}
*/
</script>
