<template>
  <div class="container">
    <Left-sidebar class="sidebar" />
    <Hello id="hello" />
    <Quote id="quote" />
    <Experience id="experience" />
    <Journey id="journey" />
    <h1 class="copyright">Copyright © 2021 Jonathan Zegers</h1>
  </div>
</template>

<script>
import Hello from '@/components/Hello'
import Quote from '@/components/Quote'
import Experience from '@/components/Experience'
import Journey from '@/components/Journey'
import LeftSidebar from '@/components/LeftSidebar'
import NavDots from '@/components/NavDots'

export default {
  data() {
    return {
      isLoad: false,
    }
  },

  components: {
    Hello,
    Quote,
    Experience,
    Journey,
    LeftSidebar,
    NavDots,
  },

  head() {
    return {
      title: 'Welcome | Jonathan Zegers',
    }
  },
  mounted() {
    // this.loadMethod()
  },

  methods: {
    loadMethod() {
      setTimeout(() => {
        this.isLoad = true
      }, 3000)
    },
  },
}
</script>

<style>
.sidebar {
  z-index: 10;
}

.navdots {
  z-index: 12;
}

.copyright {
  text-align: center;
  padding-left: 10%;
}
</style>
